body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    background-color: rgb(169, 204, 100);
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

#message {
    font-size: 1.5em;
    font-weight: 600;
    padding: 20px;
    margin: 40px;
    border-radius: 20px;
    color: lime;
}

#button {
    height: 360px;
    width: 360px;    border-radius: 50%;
    font-size: 2em;
    font-weight: 800;
    background-image: url("../assets/eightball.jpeg");
    background-position: 45.5% 52%;
    margin: 30px;
}

button:hover {
    cursor: pointer;
}

#question {
    width: 400px;
    height: 80px;
}

#message-background {
    background-image: url("../assets/poolstick.png");
    background-position: 50% 48%;
    background-size: cover;
    width: 90vw;
    margin: 20px;
    display: none;
}